@model WebStore.Models.ProductTypes
@{
    ViewData["Title"] = "Edit";
}
@if (TempData["SM"] != null)
{
    <div class="row text-center">
        <div class="col-12 alert alert-success">
            @TempData["SM"]
        </div>
    </div>
}

<h1 class="mt-1 text-info">Edit product type</h1>
<form method="post" asp-action="Edit">
    <div class="p-4 border rounded">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class=" row form-group">
            <div class="col-2">
                <label asp-for="Id"></label>
            </div>
            <div class="col-5">
                <input asp-for="Id" class="form-control" />
            </div>
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
        <div class="row form-group">
            <div class="col-2">
                <label asp-for="Name"></label>
            </div>
            <div class="col-5">
                <input asp-for="Name" class="form-control" />
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <br />


        <div class="form-group">
            <input type="hidden" asp-for="Id" />
            <input type="submit" asp-route-id="@Model.Id" class="btn btn-primary" value="Edit" />
            <a class="btn btn-success" asp-action="Index">Back to list</a>
        </div>
    </div>

</form>
