@model WebStore.Models.ViewModel.ShoppingCartViewModel
@{
    ViewData["Title"] = "AppointmentConfirmation";
    TempData["AppointmentId"] = Model.Appointment.Id;
    int count = 1;

}

<div class="container">
    <div class="row">
        <h4 class=" text-info">Appointment Confirmation</h4>
    </div>
    <div class="row form-group">
        <h7 class="col-9">Your appointment has been submitted.Please feel free to contact us anytime you have any questions</h7>
    </div>
</div>

<div class="container">
    <div class="row form-group">
        <h5 class="mt-1 text-success">Appointment Details</h5>
        <partial name="_AppointmentCustomerDetailsPartial" model="Model.Appointment" />
    </div>
</div>
<div class="container">
    <div class="row form-group">
        <partial name="_AppointmentProductDetailsPartial" model="Model.Products" />
    </div>
</div>

<form action="@Model.PayPalConfig.PostUrl" method="post">
    <input type="hidden" name="cmd" value="_cart" />
    <input type="hidden" name="upload" value="1" />
    <input type="hidden" name="business" value="@Model.PayPalConfig.Business" />
    <input type="hidden" name="currency_code" value="USD" />
    @foreach (var item in Model.Products)
    {
        <input type="hidden" name="item_name_@count" value="@item.Name" />
        <input type="hidden" name="amount_@count" value="@item.Price.ToString(System.Globalization.CultureInfo.InvariantCulture)" />
        <input type="hidden" name="quantity_@count" value="1" />
        count++;

    }
    <div class="container">
        <div class="row form-group">
            <div class="col-2">
                <input type="submit" value="Pay" class="btn btn-primary form-control" />
            </div>
        </div>
    </div>
</form>

<div class="form-group">
    <div class="col-2  mx-1">
        <a class="btn btn-success" asp-action="Index">Back to Products</a>
    </div>
</div>