
@model WebStore.Models.ViewModel.RegisterViewModel 
@{
    ViewData["Title"] = "Register";
}
<h3 class="mt-1 text-info">Create A New Account</h3>
<form asp-controller="Account" asp-action="Register" method="post">
    <div asp-validation-summary="All" class="text-danger offset-1"></div>
    <div class="p-4 border rounded ">
        <div class="row">
            <div class="col-sm-12 col-md-6">

                <div class="row form-group">
                    <div class="col-sm-6 col-md-3">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger text-center"></span>
                    </div>
                </div>

                <div class="row form-group">

                    <div class="col-sm-6 col-md-3">
                        <label asp-for="Email"></label>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger text-center"></span>
                    </div>

                </div>

                <div class="row form-group">
                    <div class="col-sm-6 col-md-3">
                        <label asp-for="Password"></label>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger text-center"></span>
                    </div>

                </div>

                <div class="row form-group">

                    <div class="col-sm-6 col-md-3">
                        <label asp-for="ConfirmPassword"></label>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger text-center"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
            <div class="col-sm-12 col-md-6">
                <section>
                    <h4>Use another service to register.</h4>
                    <hr />
                                    
                            <div>
                                <p>
                                    There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                    for details on setting up this ASP.NET application to support logging in via external services.
                                </p>
                            </div>                    
                </section>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

